body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.container-dev {
    background-color: #353744;
    background-image: url(logo_background.png);
    color: #f1f1f1;
}
.container-nef {
    background-color: #ffffff;
    background-image: url(network-sm.png);
    background-repeat: no-repeat;
}

.container-x3 {
    background-color: #dadada;
    color: #000000;
    background-image: url(robot2.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-position: 100% -10%;
}
